  <!-- Footer -->
  <footer class="footer-dark">
    <div class="container">
        <!-- Contact Us -->
        <div class="col-sm-6">
          <h3 class="text-color"><span class="border-color">KSA</span></h3>
          <div class="content">
            <p>
            KSA 온라인 강의 서비스 
            </p>
            <!-- <a href="/login">운영자 페이지로 이동 </a> -->
          </div>
        </div>
        
    </div>
  </footer>