<!doctype html>
    <html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="shortcut icon" href="img/favicon2.png"> -->
    <title>KSA | Home</title>
    <link href="/css/main.css" rel="stylesheet">
    <!-- CSS Global -->
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap/bootstrap-card.css" rel="stylesheet">
    <!-- CSS Plugins -->
    <link href="/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500,400italic,500italic,700italic' rel='stylesheet' type='text/css'>
    <!-- CSS Custom -->
    <link href="/css/custom.css" rel="stylesheet">

    <link href="/css/color-styles.css" rel="stylesheet">
    <link href="/css/ui-elements.css" rel="stylesheet">
    <!-- CSS menu -->
    <link href="/css/menu.css" rel="stylesheet">
    <!-- <link href="/css/master.css" rel="stylesheet"> -->
    <title>WEB1 - ${title}</title>
  
  <div class="navbar navbar-dark navbar-static-top" role="navigation">
    <div class="container" style="padding:15px;">
      <!-- Navbar Links -->
      <div class="zeta-menu-bar">
        <ul class="zeta-menu">
          <li class="active"><a href="#" class="bg-hover-color">강의</a>
            <ul>
              <li><a href="/lecture/linearAlgebra/1">파이썬을 활용한 선형대 수학</a></li>
              <li><a href="#">파이썬을 활용한 데이터 분석 </a></li>
              <li><a href="#">파이썬을 활용한 통계학이론 </a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="/onlineTest" class="bg-hover-color">필기 평가</a>
          <li class="dropdown"> <a href="/moduleList" class="bg-hover-color"> 실기 평가</a>
      </div> <!-- / Navbar Links -->
    </div> <!-- / container -->
  </div> <!-- / navbar -->
</head>
<!-- JavaScript ================================================== -->
<!-- JS Global -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
<!-- JS Plugins -->
<script src="js/custom.js"></script>

<!-- JS Plugins -->
<script src="js/scrolltopcontrol.js"></script>
<script src="js/jquery.sticky.js"></script>

<!-- jquery 메뉴바-->
<script src="//code.jquery.com/jquery.min.js"></script>
<script>
function saveTextAsFile(textToWrite, fileNameToSaveAs)
    {
    	var textFileAsBlob = new Blob([textToWrite], {type:'text/plain'}); 
    	var downloadLink = document.createElement("a");
    	downloadLink.download = fileNameToSaveAs;
    	downloadLink.innerHTML = "Download File";
    	if (window.webkitURL != null)
    	{
    		// Chrome allows the link to be clicked
    		// without actually adding it to the DOM.
    		downloadLink.href = window.webkitURL.createObjectURL(textFileAsBlob);
    	}
    	else
    	{
    		// Firefox requires the link to be added to the DOM
    		// before it can be clicked.
    		downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
    		downloadLink.onclick = destroyClickedElement;
    		downloadLink.style.display = "none";
    		document.body.appendChild(downloadLink);
    	}
    
    	downloadLink.click();
    }
    // document.querySelectorAll('.toolbar a')
    // .forEach(aE1 => aE1.addEventListener('click', function(e){
    // e.preventDefault();
    // const command = aE1.dataset.command;
    // if(command =='h1' || command == 'h2' || command == 'h3'){
    //   document.execCommand('formatBlock', false, command);
    // }
    // else{
    //   document.execCommand(command);
    // }
    // }));
    function boldText(){
        var target = document.getElementById("text");
        if( target.style.fontWeight == "bolder" ) {
            target.style.fontWeight = "normal";
        } else {
            target.style.fontWeight = "bolder";
        }
    }

    function italicText(){
        var target = document.getElementById("text");
        if( target.style.fontStyle == "italic" ) {
            target.style.fontStyle = "normal";
        } else {
            target.style.fontStyle = "italic";
        }
    }

    function underlineText(){
        var target = document.getElementById("text");
        if( target.style.textDecoration == "underline" ) {
            target.style.textDecoration = "none";
        } else {
            target.style.textDecoration = "underline";
        }
    }
    $(function(){
    $(document).mouseup(function(e) {
        if ($(e.target).parents('.zeta-menu').length == 0) {
            $('.zeta-menu li').removeClass('expand');
            $('.zeta-menu ul').hide();
        }
    });
    $(".zeta-menu>li:has(ul)>a").each( function() {
        $(this).html( $(this).html()+' &or;' );
    });
    $(".zeta-menu ul li:has(ul)")
        .find("a:first")
        .append("<p style='float:right;margin:-3px'>&#9656;</p>");

    $(".zeta-menu li>a").click(function(){
        var li = $(this).parent();
        var ul = li.parent()
        ul.find('li').removeClass('expand');
        ul.find('ul').not(li.find('ul')).hide();
        li.children('ul').toggle();
        if( li.children('ul').is(':visible') || li.has('ul')) {
            li.addClass('expand');
        }
    });
    });
</script>