<% include header %>
  <body>
    <div class="container mb-3">
      <div class="jumbotron">
        <h1 style="color:#4E4D4A">KSA Webservice</h1>
        <P style="color:#4E4D4A">KSA 온라인 강의장 입니다.</p>
      </div>

    </div>
  </body>
</html>
<% include footer %>