<% include header %>

  <body>

	<div class="card align-middle login-form" >
		<div class="card-title" style="margin-top:30px;">
			<h2 class="card-title text-center" style="color:#113366;">로그인</h2>
		</div>
		<div class="card-body">
      <div class="form-signin" >
        <h5 class="form-signin-heading">로그인 정보를 입력하세요</h5>
        <label for="inputEmail" class="sr-only">ID</label>
        <input type="text" id="uid" class="form-control id" placeholder="Your ID" required autofocus><BR>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="pwd" class="form-control pwd" placeholder="Password" required><br>
        <!-- <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> 기억하기
          </label>
        </div> -->
        <button class="btn btn-lg btn-primary btn-block" onclick="login(this)">로 그 인</button>
      </div>
      
		</div>
	</div>

	<div class="modal">
	</div>
    <!-- Optional JavaScript -->
    <script src="/js/login.js"></script>
  </body>
</html>