/* header start */
.navbar .container {
  padding:15px;
}
/* 강의 */
.navbar .container .zeta-menu .classes > ul {
  width: 185px;
}
.navbar .container .zeta-menu .classes > ul > li {
  width: max-content;
}
.navbar .container .zeta-menu .classes > ul > li > a:hover{
  padding: auto;
}
/* 공통 */
.navbar .container .zeta-menu li {
  transition-duration: 0.25s;
  transition-timing-function: linear;
}
.navbar .container .zeta-menu .depth1 > a{
  font-size: 20px; 
}
/* header end */
/* footer start */
footer h3 {
  font-size: 14px;
}
footer p {
  font-size: 12px;
}
/* footer end */
/* lecture start */
/* menu start */
.lecture .wrapp {
  text-align:center; 
  vertical-align:middle; 
  background-color: #eee;
  border-bottom: 1px solid #ddd; 
  height:20px;
}
.lecture #breadcrumb_line{
  display:inline-block;margin-top: 10px;margin-bottom: 10px;
}
.lecture .menu{
  width:20%;float:left; font-size:0.75em; overflow:auto; height:550px;
}
.lecture .menu .cusor {
  margin-block-start:0.83em; 
  margin-block-end:0.83em;
  margin-inline-start:0px;
  margin-inline-end:0px; 
  padding: 20px;
  font-weight: 700;
  font-size: 16px;
  transition-duration: 0.25s;
  transition-timing-function: linear;
}
.lecture .menu ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 20px;
  list-style:none;
  font-size:14px
}
.lecture .menu ol > li{
  display:list-item;
}
.lecture .menu ol > li > a{
  color:#999;
}
/* menu end */
/* video box start */
.lecture .container2 {
  margin:0px;height:550px;
}
.lecture .container2 .video-box {
  width:50%;
  height:100%;
  float:left;
  border:2px solid lightgray;
  padding: 20px;
}
/* video box end */
/* note start */
.lecture .container2 .note {
  width:30%;height:100%;float:left;
}
.lecture .container2 .note .toolbar{
  margin:20px; text-align:left; display: block;
  flex-basis: auto;
  flex-direction: column;
}
.lecture .container2 .note .toolbar textarea {
  font-size:14px; 
  width:100%;
  height:400px;
  resize: none;
}
.lecture .container2 .note .toolbar button {
  margin: 10px auto;
  padding: 3px 10px;
  display: flex;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 3px;
  transition-duration: 0.25s;
  transition-timing-function: linear;
}
.lecture .container2 .note .toolbar button:hover {
  background-color: lightgray;
}
/* note end */
/* lecture end */

/* 필기평가 oneline test start */
/* module list start */
.navigation {
  width:20%;float:left; font-size:0.75em; overflow:auto; height:450px;
}
.navigation > h2 {
  margin-block-start:0.83em; margin-block-end:0.83em;margin-inline-start:0px;margin-inline-end:0px; padding-inline-start: 20px;
}
.navigation > nav > ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 20px;
  list-style:none;
  font-size:12px;
}
/* module list end  */
/* 정보입력 start */
.online-test.form {
  margin: 15px 0;
  width: 100%;
  display: flex;
  place-content: center;
}
.online-test.form > input {
  width:20%;
  margin: 0 10px;
  font-size: 14px;
}
/* 정보입력 end  */
/* 문제 풀이 start */
fieldset.online-test {
  text-align: center; 
  text-align: -webkit-center; 
}
fieldset.online-test legend{
  padding-bottom: 15px;
}
fieldset.online-test .questions {
  display: flex;
  flex-flow: wrap;
  width: 80%;
}
fieldset.online-test .questions > .question {
  width: 50%;
  padding: 10px;
  text-align: left;
}
.online-test .box {
  margin-bottom: 10px;
}
fieldset.online-test .questions > .question .combo > input {
  margin: 5px 0;
}
.online-test button {
  margin: 10px auto;
  padding: 3px 10px;
  display: flex;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 3px;
  transition-duration: 0.25s;
  transition-timing-function: linear;
}
.online-test button:hover {
  background-color: lightgray;
}
/* 문제 풀이 end */
/* 문제 등록 start */
.online-test .input {
  text-align-last: center;
  margin: 22px auto;
}
.online-test .input > .module-name {
  font-size: 18px;
  font-weight: 700;
}
.online-test button {
  margin: 10px;
}
#tbody .content {
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
}
#tbody .content input {
  font-size: 14px;
}
.enter-score .content input {
  margin: 0 -15px;
}

#tbody .content .selections {
  margin: 15px 0;
}
#tbody .content .selections .multi-selection {
  display: flex;
}
#tbody .content .selections .multi-selection > input[type="text"] {
  width: calc(100% - 20px);
  flex: none;
}
#tbody .content .selections .multi-selection > input[type="radio"] {
  width: 20px;
  margin: 0;
}
#tbody .content button {
  width: 100%;
  margin: 0;
}
/* 문제 등록 end  */
/* 필기평가 oneline test end  */
.online-test #tbody input
/* 실기평가 start */
/* 실기평가 board list start */
.container.board {
  margin: 20px auto;
  font-size: 14px;
}
.container.board > h2{
  text-align: center;
  font-weight: 700;
}
.container.board > table.list{
  font-size: 14px;
}
/* 실기평가 board list end */
/* 실기평가 board content start */
.container.board {
  font-size: 14px;
}
.container.board .breadcrumb-item a {
  font-size: 14px;
}
.container.board .breadcrumb-item small {
  font-size: 12px;
  padding: 0 8px;
}
.board .buttons button {
  padding: 3px 10px;
  display: flex;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 3px;
  transition-duration: 0.25s;
  transition-timing-function: linear;
}
.online-test .btnt {
  width: max-content!important
}
.board .buttons button:hover {
  background-color: lightgray;
}
.container.board > .card > h5 {
  font-size: 16px;
  font-weight: 700;
  padding: 7px 15px!important;
}
.container.board > .card > .row .content {
  font-size: 14px;
  padding: 15px!important;
}
.container.board > .card > .row .date {
  padding: 5px 10px!important;
}
.container.board .attachment > p{
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}
#file-list img {
  margin-left: 5px;
  width: 10px;
  cursor: pointer;
}
#file-list .item.download {
  border-radius: 3px;
  cursor: pointer;
  padding: 5px 15px;
  transition-duration: 0.25s;
  transition-timing-function: linear;
}
#file-list .item.download:nth-child(2n) {
  background-color: rgba(0,0,0,0.2);
}
#file-list .item.download:nth-child(2n-1) {
  background-color: rgba(0,0,0,0.1);
}
#file-list .item.download:nth-child(2n):hover {
  background-color: rgba(0,0,0,0.4);
}
#file-list .item.download:nth-child(2n-1):hover {
  background-color: rgba(0,0,0,0.4);
}
/* 실기평가 board content end */
/* 실기평가 성적입력 start */
.enter-score {
  font-size: 14px;
  width: 80%;
  margin: 10px auto;
}
.enter-score .box {
  margin-bottom: 10px;
}
.enter-score .box .label {
  color: black;
  font-size: 14px;
  align-self: center;
}
.enter-score .box .line.label {
  margin: 10px 0;
}
.enter-score .box textarea {
  resize: none;
  font-size: 14px;
}
.enter-score button {
  padding: 3px 10px;
  display: flex;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 3px;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  width: max-content!important;
}
.enter-score button:hover {
  background-color: lightgray;
}
/* 실기평가 성적입력 end */
/* 실기평가 end */

div.buttons {
  display: flex;
  float: right;
}
div.buttons a.button {
  margin: 10px auto;
  padding: 3px 10px;
  display: flex;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 3px;
  transition-duration: 0.25s;
  transition-timing-function: linear;
}
div.buttons a.button:hover {
  background-color: lightgray;
}
div.buttons a.button {
  color: black;
  width: 130px;
  justify-content: center;
  margin: 0 10px;
}
div.buttons a.button:hover {
  text-decoration-line: none;
}
.filebox label { 
  display: inline-block; 
  padding: .5em .75em; 
  color: #999; 
  font-size: inherit; 
  line-height: normal; 
  vertical-align: middle; 
  background-color: #fdfdfd; 
  cursor: pointer; 
  border: 1px solid #ebebeb; 
  border-bottom-color: #e2e2e2; 
  border-radius: .25em; 
} 

.filebox input[type="file"] { 
  /* 파일 필드 숨기기 */ 
  position: absolute; 
  width: 1px; 
  height: 1px; 
  padding: 0; 
  margin: -1px; 
  overflow: hidden; 
  clip:rect(0,0,0,0); 
  border: 0; 
}


.zeta-menu {
  display: flex;
  padding: 0;
  justify-content: space-between;
}

.login-form {
  margin: 10rem auto;
  width:20rem; 
  border-radius:20px;
}

input[type="radio"].correct:checked + label {
  color: green;
}
input[type="radio"].incorrect:checked  + label {
  color: red;
}