.filebox label { 
  display: inline-block; 
  padding: .5em .75em; 
  color: #999; 
  font-size: inherit; 
  line-height: normal; 
  vertical-align: middle; 
  background-color: #fdfdfd; 
  cursor: pointer; 
  border: 1px solid #ebebeb; 
  border-bottom-color: #e2e2e2; 
  border-radius: .25em; 
} 

.filebox input[type="file"] { 
  /* 파일 필드 숨기기 */ 
  position: absolute; 
  width: 1px; 
  height: 1px; 
  padding: 0; 
  margin: -1px; 
  overflow: hidden; 
  clip:rect(0,0,0,0); 
  border: 0; 
}

#file-list .item {
  margin: 10px;
}

#file-list img {
  margin-left: 5px;
  width: 10px;
  cursor: pointer;
}

#file-list .item.download {
  cursor: pointer;
}
#file-list .item.download:hover {
  color:darkblue;
}

.zeta-menu {
  display: flex;
  justify-content: space-around;
}