<% include ../header %>
<body>
    <table border="1" style="width:80%">
        <tbody id='tbody'>
        </tbody>
        <!-- <button name="delete" class="delete">삭제</button> -->
    </table>
    <button class="addQuestion">문제 추가</button>
    <button class="register">문제 등록</button>
</body>

<script src="/js/onlinetest_input.js"> </script>
<% include ../footer %>
</html>

