<% include ../header %>
<body class="online-test">
    <div class="container">
        <div class="input">
            <div class="module-name"><%= modulenames[0].module_kr %></div>
        </div>
        <div>
            <div id='tbody' class="row">
            </tbody>
            <!-- <button name="delete" class="delete">삭제</button> -->
        </div>
        <div class="buttons">
            <button class="addQuestion">문제 추가</button>
            <button class="register">문제 등록</button>
        </div>
    </div>
</body>

<script src="/js/onlinetest_input.js"> </script>
<% include ../footer %>
</html>

