<% include ../header %>
<body>
    <div class="enter-score">
        <div id='tbody' class="row">
        </div >
    </div >
    <button class="addInput">성적 입력 폼 추가</button>
    <button class="register">성적 등록</button>
</body>

<script src="/js/board_enterScore.js"> </script>
<% include ../footer %>
</html>

