<% include ../header %>
<body>
    <table border="1" style="width:100%">
        <tbody id='tbody'>
        </tbody>
    </table>
    <button class="addInput">성적 입력 폼 추가</button>
    <button class="register">성적 등록</button>
</body>

<script src="/js/board_enterScore.js"> </script>
<% include ../footer %>
</html>

