<!DOCTYPE html>
<html>
  <head>
    <%- include('../header') %>
  </head>
  <body>
    <div class="container mb-3 board">

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-1 pl-2 pr-2">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/board/<%= modulenames[0].module_eng%>">Board</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a><%= modulenames[0].module_kr%></a> <small>게시글 작성</small></li>
        </ol>
      </nav>

        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" value="" class="form-control">
          <label for="std_no">Student No</label>
          <input type="text" id="std_no" name="std_no" value="" class="form-control">
        </div>
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" id="title" name="title" value="" class="form-control">
        </div>

        <div class="form-group">
          <label for="content">content</label>
          <textarea id="content" name="content" rows="5" class="form-control"></textarea>
        </div>
        <div class="filebox">
          <label for="fileupload">업로드</label>
          <input type="file" id="fileupload" name="files" multiple>
        </div>
        <div id="file-list"></div>

        <div class="buttons">
          <a class="button" href="/board/<%= modulenames[0].module_eng%>">뒤로가기</a>
          <button type="submit" class="submit" >등록하기</button>
        </div>

    </div>
    <script src="/js/board_new.js"></script>
  </body>
</html>
